/* --- gestion des espacements --- */
.variable-spacer-for-no-space-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
}

.spacer {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.inner-spacer, .spacer {
    padding: 0 var(--space-centred);
}

body {
    background-color: var(--Background-primary);
    color: var(--text-primary);
    font: var(--typography-body);
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}


#gradiant-header {
    width: 16%;
    min-width: 150px;
    aspect-ratio: 320/449;
    z-index: 1;
}

#gradiant-header:before {
    content: "";
    position: absolute;
    top: 72px;
    left: 0;
    width: 100vw;
    min-height: 220px;
    aspect-ratio: 1920/449;
    background: var(--gradiant-header);
    z-index: -1;
}

#gradiant-header img {
    margin-bottom: var(--space-xs);
    width: 100%;
    min-width: 150px;
    aspect-ratio: 320/449;
    object-fit: cover;
}