/* --- gestion des espacements --- */
.variable-spacer-for-no-space-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
}

.spacer {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.inner-spacer, .spacer {
    padding: 0 var(--space-centred);
}

.second-spacer-desktop {
    padding: 0 var(--space-centred-second);
}

body {
    background-color: var(--Background-primary);
    color: var(--text-primary);
    font: var(--typography-body);
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

