/*TODO*/
/*TYPO EM*/
h1 {
    font: var(--typography-h1);
}

h2, h3 {
    font: var(--typography-h2);
}

.brand-name {
    font: var(--typography-brand-name);
    text-transform: uppercase;
    color: var(--Text-illustration-header);
    position: absolute;
    top: var(--space-brand-name-to-header);
}

.spec-item dd strong {
    font: var(--typography-specs-animated);
}

.spec-item dd abbr {
    font: var(--typography-h1);
    text-decoration: none;
}

#history-content p {
    font: var(--typography-subtitle);
}

.secondary-p, .small {
    color: var(--text-secondary);
}

.small {
    font: var(--typography-body-s);
}