header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header nav {
    align-self: flex-start;
    width: 100%;
    padding-left: var(--space-s);
}

.second-spacer-desktop {
    padding: 0 var(--space-centred-second);
}

header {
    margin-top: 72px;
    margin-bottom: var(--space-xs);
}

/*todo*/
/*425px max*/
.nav-collections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-xs);
    overflow-x: auto;
}

.nav-collections a {
    white-space: nowrap;
}

#gradiant-header {
    width: 16%;
    min-width: 150px;
    aspect-ratio: 320/449;
    z-index: 1;
}

#gradiant-header:before {
    content: "";
    position: absolute;
    top: 72px;
    left: 0;
    width: 100vw;
    min-height: 220px;
    aspect-ratio: 1920/449;
    background: var(--gradiant-header);
    z-index: -1;
}

#gradiant-header img {
    margin-bottom: var(--space-xs);
    width: 100%;
    min-width: 150px;
    aspect-ratio: 320/449;
    object-fit: cover;
}