.full-size-img, .cover-size-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.full-size-img img {
    width: 100%;
    height: auto;
    display: block;
}

.full-size-img:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--gradiant-full-size-img);
}

.cover-size-img {
    max-width: 1600px;
    max-height: 700px;
}

.cover-size-img img {
    max-width: 1600px;
    max-height: 700px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

.cover-size-img:after {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--gradiant-cover-size-img);
}