.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


/* --- Skip Link --- */
.skip-link {
    position: absolute;
    top: -9999px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--Background-secondary);
    color: var(--text-inverse);
    padding: var(--space-s);
    z-index: 9999;
}

.skip-link:focus {
    top: 0; /* Apparaît quand on tab dessus */
}


/* --- inverseur de colonne flex --- */
.invert-flex-column {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--space-s);
}