



/* --- Generic Card Content --- */
.card img {
  display: block;
}
.card-content {
  color: var(--text-inverse);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

/* --- Spec Card --- */
.model {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
  text-align: center;
}
.specs {
  width: 100%;
}
.spec-item {
  display: flex;
  flex-direction: column-reverse;
}
.spec-item dt {
  color: var(--text-secondary);
}
.specs img {
  max-width: 650px;
  min-width: 0;
  flex: 1 1 300px;
  height: auto;
  object-fit: cover;
}
.spec-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-m);
  margin-bottom: var(--space-l);
}
.specs-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



/* --- Philosophy Card --- */
#philosophy-main {
  display: flex;
  flex-direction: column;
}

#philosophy-p {
  margin-top: var(--space-xs);
  font: var(--typography-subtitle);
  max-width: 600px;
}

.philosophy-main-image {
  border-radius: var(--large-radius);
  overflow: hidden;
  width: 100%;
  height: auto;
}

#philosophy-img-scroll-effect {
  position: relative;
  width: 100%;
  aspect-ratio: 10/7;
  overflow: hidden;
}

#philosophy-img-scroll-effect img:first-of-type {
  width: 60%;
  height: auto;
  position: absolute;
  max-width: 100vw;
  overflow: hidden;
  top: 24px;
  border-radius: var(--large-radius);
  left: 0;
}

#philosophy-img-scroll-effect img:nth-of-type(2) {
  width: 45%;
  aspect-ratio: 149/200;
  object-fit: cover;
  position: absolute;
  max-width: 100vw;
  overflow: hidden;
  bottom: -48px;
  border-radius: var(--large-radius);
  right: 0;
}
.philosophy .second-brand-name {
  font: var(--typography-second-brand-name);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: var(--space-l);
}


.philosophy h2 {
  font: var(--typography-h1);
  max-width: 600px;
}

.philosophy .second-brand-name {
  font: var(--typography-second-brand-name);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: var(--space-s);
}


/* --- Craft Card --- */
#craft-content {
  text-align: center;
  color: var(--text-inverse);
  background-color: var(--Background-secondary);
}
#craft-content {
  padding-top: var(--space-xl);
}

#craft-content p {
  font: var(--typography-subtitle);
  padding-bottom: var(--space-s);
}

#craft-content nav ul {
  padding-bottom: var(--space-xs);
  display: flex;
  gap: var(--space-xs);
}

#craft-content a {
  color: var(--text-inverse);
}

#craft-list {
  background: var(--gradiant-net-transition-bg);
}
.maintenance-note {
  color: var(--text-secondary);
  text-align: center;
  margin-top: var(--space-xs);
}




/* --- Features Card --- */
#features-heading {
  text-align: center;
}

.features-list, .find-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}

.feature-card {
  position: relative;
  height: 480px;
  max-height: 600px;
  scroll-snap-align: center;
}

.feature-card img {
  height: 100%;
  max-width: calc(100vw - var(--space-s) * 2);
  width: auto;
  object-fit: cover;
  border-radius: var(--large-radius);

}

.feature-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--space-xs);
  background: var(--gradiant-card);
  border-radius: var(--large-radius);
}



/* --- Find Card --- */
.find-card {
  position: relative;
  width: 100%;
}

.find-card img {
  height: 100%;
  min-height: 480px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--large-radius);
}

.find-content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--space-xs);
  background: var(--gradiant-card);
  border-radius: var(--large-radius);
}




/* --- Complications Card --- */
#complications-content p {
  max-width: 700px;
}
#complications-content {
  padding-top: 350px;
  padding-bottom: var(--space-l);
  color: var(--text-inverse);
  background-color: var(--Background-secondary);
}

#complications-heading {
  font: var(--typography-h1);
  padding-bottom: var(--space-xs);
  max-width: 700px;
}




/* --- Spec-card Card --- */
.spec-card {
  width: calc(100vw - var(--space-centred-second) * 2);
  max-width: 1324px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-s);
}

.spec-card img {
  aspect-ratio: 8 / 6;
  max-height: 600px;
  min-width: 0;
  max-width: 800px;
  object-fit: cover;
  flex: 1 1 300px;
  width: 100%;
}

.spec-content {
  max-width: 500px;
  flex: 1 1 300px;
}




/* --- history Card --- */
#history-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}



#history-content {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  top: 0;
  padding: var(--space-l);
  color: var(--text-inverse);
}


/* --- Selector Card --- */
#selector-cards h2 {
  text-align: center;
  margin-bottom: var(--space-s);
}


/* --- Related Card --- */
#related-content {
  text-align: center;
}

#related-content p {
  font: var(--typography-subtitle);
  margin-bottom: var(--space-s);
}

/* --- Watch Card --- */
.watch-card {
  width: calc(100vw - var(--space-s) - var(--space-centred));
  max-width: 500px;
  max-height: 600px;
  height: 100%;
  background: var(--gradiant-radial-card);
  padding: var(--space-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--large-radius);
  scroll-snap-align: center;
}

.watch-card img {
  max-width: 258px;
  width: 100%;
}

.watch-content {
  width: 100%;
}



/* --- Comparaison --- */
#comparison-cta {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  align-items: center;
  text-align: center;
  margin-top: var(--space-s);
}

#comparison-cta p {
  font: var(--typography-subtitle);
}


/* --- Movement Card --- */
#movement-content {
  text-align: center;
}

#movement-content p {
  font: var(--typography-subtitle);
  margin-bottom: var(--space-xs);
}